{
    "vgg16": { 
        "block_sizes": [
             [8, 0, 0, 0], [8, 8, 0, 0], 
             [8, 8, 0, 0], [8, 8, 0, 0], 
             [8, 8, 0, 0], [8, 8, 0, 0], [8, 8, 0, 0], 
             [8, 8, 0, 0], [8, 8, 0, 0], [8, 8, 0, 0], 
             [8, 8, 0, 0], [8, 8, 0, 0], [8, 8, 0, 0], 
             [8, 8], [8, 8], [8, 8]
        ],
        "pruning_rates": [
             0.42, 0.78, 
             0.66, 0.64, 
             0.47, 0.76, 0.58, 
             0.68, 0.78, 0.66, 
             0.65, 0.71, 0.64, 
             0.96, 0.96, 0.77
        ]
    },
    "vgg16_bn": { 
        "block_sizes": [
             [8, 0, 0, 0], [8, 8, 0, 0], 
             [8, 8, 0, 0], [8, 8, 0, 0], 
             [8, 8, 0, 0], [8, 8, 0, 0], [8, 8, 0, 0], 
             [8, 8, 0, 0], [8, 8, 0, 0], [8, 8, 0, 0], 
             [8, 8, 0, 0], [8, 8, 0, 0], [8, 8, 0, 0], 
             [8, 8], [8, 8], [8, 8]
        ],
        "pruning_rates": [
             0.42, 0.78, 
             0.66, 0.64, 
             0.47, 0.76, 0.58, 
             0.68, 0.78, 0.66, 
             0.65, 0.71, 0.64, 
             0.96, 0.96, 0.77
        ]
    },
    "alexnet": {
        "block_sizes": [
            [8, 1, 0, 0],
            [8, 1, 0, 0],
            [8, 1, 0, 0],
            [8, 1, 0, 0],
            [8, 1, 0, 0],
            [8, 8, 0, 0],
            [8, 8, 0, 0],
            [8, 8, 0, 0]
        ],
        "pruning_rates": [
            0.16, 0.62, 0.65, 0.63, 0.63,
            0.91, 0.91, 0.75
        ]
    }
}
